body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.white {
    background: white;
}